@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply text-base leading-relaxed;
  }

  h1 {
    @apply text-4xl font-bold leading-tight;
  }

  h2 {
    @apply text-[40px] font-semibold leading-tight;
  }

  h3 {
    @apply text-[32px] font-semibold;
  }

  h4 {
    @apply text-[24px] font-medium;
  }

  h5 {
    @apply text-[20px] font-medium;
  }

  p {
    @apply text-base leading-relaxed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-yellow: #F4C325;
  --font-nunito: var(--font-nunito);
  --font-mono: var(--font-nunito);
  --font-sans: var(--font-nunito);
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1800px;
  --breakpoint-4xl: 2000px; 
}

@utility container{
  margin-inline: auto;
  padding-inline: 16px;
  max-width: 100%;
  @variant md {
    max-width: 720px;
    padding-inline: 0;
  }
  @variant lg {
    max-width: 940px;
  }
  @variant xl {
    max-width: 1120px;
  }
  @variant 2xl {
    max-width: 1240px;
  }
  @variant 3xl {
    max-width: 1320px;
  }
  @variant 4xl {
    max-width: 1440px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
